@media (max-width: 1280px) {
  
    .main-text{
        h1{
            font-size: 50px;
        }
    }
  
  
    .main-block {
    img {
      top: 30px;
      left: 440px;
      width: 685px;
      height: 600px;
    }
  }

  .bar{

    padding-left: 35px;
    margin: auto;
    
    margin-top:  315px;
    margin-bottom: 100px;
  }

  .places__img__item{
    width: 226px ;
    height: 232px;
  }

  .form{
    justify-content: space-around;
    .form__input__img{
        width: 250px;

    }
    }
  }
  .special__item{
    width: 125px;
    height: 125px;
  }

