@media (max-width: 1280px) {
  .main-block img {
    top: 30px;
    left: 440px;
    max-width: 600px;
  }

  .main-text {
    h1 {
      width: 508px;
      font-size: 50px;
    }
    p {
      margin-top: 70px;
    }
  }

  // main block

  .bar {
    width: 790px;
    margin-top: 250px;
    padding-left: 25px;
    p {
      padding-top: 2px;
    }
  }

  // bar

  // header

  .places__img__item {
    max-width: 230px;
    .places-logo-4 {
      padding: 19px 83px;
    }
  }

  // restaurants img

  .form {
    column-gap: 110px;
    .form__input__img {
      max-width: 240px;
    }
  }

  // search form

  .special__item {
    max-width: 114px;
    p {
      font-size: 15px;
      width: 80px;
      font-size: 15px;
    }
  }

  // small food icons

  .bg-img {
    width: auto;
  }

  // limon background (have bag)

  .inst__img {
    border-radius: 6px;
    max-width: 230px;
  }

  // inst photos at end

  .foot__high {
    padding: 28px 20px 100px 20px;
    column-gap: 80px;
    .links__text {
      display: grid;
      grid-template-columns: 245px 245px;
      row-gap: 20px;
    }
  }
  .foot__low {
    padding: 0 20px;
  }

  // footer
}
@media (max-width: 1024px) {
  .main-block img {
    top: 50px;
    left: 400px;
    max-width: 450px;
  }
  .main-text h1 {
    width: 408px;
    font-size: 40px;
  }

  // main block
  .bar{
    margin-top: 200px;
  .bar-item {
    p {
      font-size: 13px;
      line-height: 20px;
    }
    img {
      max-width: 38px;
      height: 38px;
      margin-top: 4px;
    }
  }
}

  // bar

  // header

  .places__img__item {
    max-width: 170px;
    .places-logo-1 {
      padding: 25px 40px;
    }
    .places-logo-2 {
      padding: 40px 40px;
    }
    .places-logo-3 {
      padding: 30px 40px;
    }
    .places-logo-4 {
      padding: 20px 50px;
    }
  }

  // restaurants img

  .form {
    flex-direction: column;
    row-gap: 30px;
    padding: 80px 0;
    text-align: center;
    p {
      padding-left: 55px;
    }
  }

  // search form

  .special__item {
    max-width: 80px;
    height: 120px;
    padding: 24px 0 17px 0;
    p {
      font-size: 12px;
      width: 80px;
    }
  }

  // small food icons

  .map {
    padding: 52px 0;
  }

  // map img

  .inst__img {
    max-width: 180px;
  }

  // inst photos at end

  .foot__high {
    column-gap: 100px;
    img {
      padding-bottom: 20px; //logo
    }
    hr {
      display: none;
    }
    .links__text {
      column-gap: 10px;
    }
    .links__adress {
      // skiny text
      width: 250px;
    }
  }

  // footer
}

@media (max-width: 768px) {
  .main-block {
    justify-content: center;
    text-align: center;
    position: none;
    img {
      display: none;
    }
    .main-text__items {
      padding-left: 40px;
    }
  }

  //main block

  .bar {
    width: 560px;
    column-gap: 70px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    padding: 20px 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 35px;
  }

  // bar

  //header

  .places__img__item {
    max-width: 140px;
    .places-logo-1 {
      padding: 25px 35px;
    }
    .places-logo-2 {
      padding: 40px 35px;
    }
    .places-logo-3 {
      padding: 30px 35px;
    }
    .places-logo-4 {
      padding: 20px 45px;
    }
  }

  //place

  .special{
    padding-bottom: 20px;
  .special__item {
    width: 60px;
    max-width: 60px;
    height: 90px;
    padding: 10px 0;

    img {
      padding-bottom: 10px;
      width: 37px;
    }
    p {
      font-size: 9px;
      width: 60px;
      padding: 0;
      padding-bottom: 10px;
      font-weight: 600;
    }
    .special__p__padding {
      padding: 0;
    }
  }
}

  // spec

  .bg-img {
    display: none;
  }

  // block limon bg

  .map {
    padding: 20px;
  }

  // map pic
  .inst__img {
    max-width: 120px;
  }

  // inst

  .foot__high {
    .apps {
      height: 200px;
    }
    column-gap: 150px;
    .links__text {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      .last__list__media {
        position: absolute;
        top: 110px;
        left: -321px;
      }
    }
  }
}
